<div class='right-navbar'>
    <div class='buttons'>
        <div class='registrase'>
            <div class='cuadro1'>
                <span><a [routerLink]="['/vista-datos-perfil-cliente']" style="color:white; text-decoration: none;">VALERIA RUJANA</a></span>
            </div>
            <div class='cuadro1'>
                <span><a [routerLink]="['/']" style="color:white; text-decoration: none;">CERRAR SESIÓN</a></span>
            </div>
        </div>
    </div>
    <div class='fotos'>
        <div class='foto1'></div>
            <!--imagen-->
        <div class='foto2'></div>
            <!--imagen-->
    </div>
</div>