.navbar{
    width: 75%;
    height: 20%;
}

.navbar .logo-menu{
    width: 30%;
    height: 75%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .logo-menu .logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar .options-menu{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.navbar .options-menu .incio-button{
    background-color: rgb(255, 201, 51);
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.navbar .options-menu .contacto-button{
    background-color: rgb(255, 201, 51);
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 30%;
    display: flex;
    justify-content: center;
}

.navbar .options-menu .about-button{
    background-color: rgb(255, 201, 51);
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}




