<div class='navbar'>
    <div class='logo-menu'>
        <img class='logo' src='./assets/PARALELO2.png'>
    </div>
    <div class='options-menu'>
        <div class='incio-button'>
            <span><a [routerLink]="['']">INICIO</a></span>
        </div>
        <div class='contacto-button'>
            <span><a [routerLink]="['/contactanos']">CONTACTO</a></span>
        </div>
        <div class='about-button'>
            <span><a [routerLink]="['/about-us']" >ACERCA DE NOSOTROS</a></span>
        </div>
    </div>
</div>