@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

// $small-phone: 320px;
$phone: 375px;
// $big-phone: 414px;
// $small-tablet: 540px;
$tablet: 768px;
// $big-tablet: 1024px;
// $small-laptop: 1256px;

.space{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    @media(max-width: $phone){
        width: 100%;
    }
}

.form-square{
    height: fit-content;
    width: 70%;
    // margin-top: -20px;
    display: flex;
    justify-content: left;
    // margin-left: 30px;
}

.form-square .form-square-background{
    // margin-top: 97px;
    display: flex;
    justify-content: center;
    // height: 87%;
    width: 100%;
    // padding: 35px;
    background-color: rgb(255, 201, 51);
}

.form-square .form-square-background .form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form .columns{
    width: 100%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    @media(max-width: $tablet){
        display: block;
    }
}


.form-square .form-square-background .form .column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
}

.form-square .form-square-background .form .column2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form-tittle{
    text-align: center;
    font-family: 'Athiti', sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    // margin-bottom: 20px;
    // margin-left: 40px;
}

input{
    width: 100%;
    height: 50%;
    border-radius: 5px;                      
    font-size: 15px;            
    // margin: 10px 10px 10px 5px; 
    // padding: 10px 10px 10px 5px;
    display: flex;             
    border: none;
    border-radius: 36px 12px;
    @media(max-width: $tablet){
        height: 100%;
    }
}

select{
    width: 100%;
    height: 50%;
    border-radius: 5px;                      
    font-size: 15px;            
    // margin: 10px 10px 10px 5px; 
    // padding: 10px 10px 10px 5px;            
    border: none;
    @media(max-width: $tablet){
        height: 100%;
    }
    // width: 300px;
    // height: 30px;
    border-radius: 36px 12px;                                
    margin: 5px 10px 10px 1px; 
    margin-left: 10px;
    display: block;             
}

label{
    font-family: 'Athiti', sans-serif;
    font-size: 14px; 
    font-weight: bold;
    margin-left: 20px;
    @media(max-width:$tablet){
        font-size: 10px; 

    }
}

.btn{
    margin: 30px;
    color: black;
    width: 150px;
    height: 30px;
    border: 0ch;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px;
    text-align: center;
    @media(max-width:$tablet){
        font-size: 10px; 

    }
}

.submit-btn{
    align-items: center;
    text-align: center;
}

.btns{
    margin-top:1% ;
    position: relative;
    display: flex;
    
}

.btn{
    position: relative;
    width: 35%;
    height: 30px;
    border: 0ch;
    border-radius: 0; 
    font-family: 'Athiti', sans-serif ;
    font-size: 15px;
    text-align: center;
    margin: 5px 0px 0px 0px;
    margin-left: 35%;
    margin-bottom: 5%;
    padding: 0;
    display: block;             
    border: none;
    @media(max-width:$tablet){
        font-size: 10px; 

    }
}


