@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.ventana{
    width: 100%;
    height: 80%;
    background-color: #494949;
}
.ventana .espacio{
    width: 100%;
    height: 5%;
}
.ventana .contenedor{
    width: 70%;
    height: 90%;
    margin-left: 2.5% ;
}

.ventana .inicio{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    background-image: url("https://static.straitstimes.com.sg/s3fs-public/styles/article_pictrure_780x520_/public/articles/2020/12/08/ST_20201208_VNCAR_6174629.jpg?itok=NBJ_ss3A&timestamp=1607366678");
}

.ventana .cuadros{
    float: right;
    width: 50%;
    height: 100%;
   
    
}
.ventana .cuadros .titulo{
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.ventana .cuadros .titulo span{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F2CA63;
    font-size: 24px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Athiti', sans-serif;
    
   
}
.ventana .cuadros .titulo img{
    width: 90%;
    height: 90%;
    margin: auto;
    
   
}

.ventana .cuadros .info{
    width: 100%;
    height: 80%;
    color: white;
    text-align: left;
 
}
.ventana .cuadros .info p{
    font-size: 16px;
    margin-left: 5%;
    padding-top: 1%;
    font-family: 'Athiti', sans-serif;
    font-style: normal;
    line-height: 20px;
    text-align: justify;
}

