<app-navbar-derecho-pagina-principal></app-navbar-derecho-pagina-principal>
<app-navbar-pagina-principal></app-navbar-pagina-principal>
<div class="container-fluid">
    <div class="container-fluid"></div>
    <div class="row">
        <div class="col-md-6">
           <img class="container-fluid" src="https://static.straitstimes.com.sg/s3fs-public/styles/article_pictrure_780x520_/public/articles/2020/12/08/ST_20201208_VNCAR_6174629.jpg?itok=NBJ_ss3A&timestamp=1607366678" alt="">
        </div>
        <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Equipo Paralelo 4x4</h1>
                        <p>Somos un taller mecánico exclusivo ubicado en una de las mejores zonas de Caracas. Nos dedicamos a la mecánica ligera, cambios estéticos e instalación de accesorios que se encuentran disponibles en nuestro showroom.
                    <br>
                    ACTIVIDADES: <br>
                    -Mecánica Ligera <br>
                    -Cambio de aceite <br>
                    -Cambio de cauchos y rines <br>
                    -Pulitura <br>
                    -Instalación de Papel ahumado <br>
                    -Instalación de accesorios (equipos de sonido, vigas, roof racks, entre otros) <br>
                    -Rotulaciones <br>
                    
                    
                    Tenemos un equipo altamente calificado para las distintas actividades.</p>    
                    </div>       
                </div>      
        </div>
    </div>

</div>