.ventana{
    width: 100%;
    height: 80%;
    background-color: yellow;
    
    
}
.ventana .contenedor{
    width: 70%;
    height: 90%;
    margin-left: 2.5% ;
    background-color: blueviolet;
}

.ventana .inicio{
    float: left;
    width: 50%;
    height: 100%;
    background-color: green;
    text-align: center;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.ventana .cuadros{
    float: right;
    width: 50%;
    height: 100%;
    background-color: rebeccapurple;
   
    
}
.ventana .cuadros .titulo{
    width: 100%;
    height: 20%;
    background-color: brown;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.ventana .cuadros .titulo span{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F2CA63;
    font-size: 24px;
    font-weight: bold;
    
   
}
.ventana .cuadros .titulo img{
    width: 90%;
    height: 90%;
    margin: auto;
    
   
}

.ventana .cuadros .info{
    width: 100%;
    height: 80%;
    background-color: grey;
    color: white;
    text-align: left;
 
}
.ventana .cuadros .info p{
    font-size: 16px;
    margin-left: 5%;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 20px;
}

