@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');
.container-fluid{
    width: 100%;
    height: 80%;
    background-color: #494949;
    
    
}
.container-fluid .container-fluid{
    width: 75%;
    height: 5%;
    margin: 0;
}

.container-fluid .row{
    width: 75%;
    height: 90%;
    margin: 0;
    padding: 0;
}
.container-fluid .row .col-md-6{
  
    text-align: center;
    font-weight: bold;
    background-color: #494949;
    
}
.container-fluid .row .col-md-6 .container-fluid{
    width: 100%;
    height: 100%;
    
    
}
.container-fluid .row .col-md-6 .row{
    width: 100%;
    height: 55%;
    
    
}
.container-fluid .row .col-md-6 .row .col-md-12 h1{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 24px;
    color: #F2CA63;
    margin-top: 1%;
}
.container-fluid .row .col-md-6 .row .col-md-12 p{
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Athiti', sans-serif;
    color: white;
    line-height: 30px;
}
@media screen and (max-width: 600px) {
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        height: 110%;
        background-color: #494949;
    }


    .container-fluid .row{
        width: 100%;
        background-color: #494949;
        height: 100%;
        margin-bottom: 0;
    }

    .container-fluid .row .col-md-6 .row{
        width: 100%;
        padding-bottom: 0;
       
    }
    
    }
    @media screen and (max-width: 1024px) {
        .container-fluid{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            height: 110%;
            background-color: #494949;
        }
    
    
        .container-fluid .row{
            width: 100%;
            background-color: #494949;
            height: 100%;
            margin-bottom: 0;
        }
    
        .container-fluid .row .col-md-6 .row{
            width: 100%;
            padding-bottom: 0;
           
        }
    }