@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.container-fluid{
    width: 100%;
    height: 80%;
    background-color: #494949;
    
    
}
.container-fluid .container-fluid{
    width: 75%;
    height: 5%;
    margin: 0;
}

.container-fluid .row{
    width: 75%;
    height: 90%;
    margin: 0;
    padding: 0;
}
.container-fluid .row .col-md-6{
  
    text-align: center;
    font-weight: bold;
    background-color: #494949;
    
}

.container-fluid .row .col-md-6 .container-fluid{
    width: 100%;
    height: 100%;
    
    
}
.container-fluid .row .col-md-6 .row{
    width: 75%;
    height: 55%;
    
    
}
.container-fluid .row .col-md-6 .row .col-md-12 h1{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 24px;
    color: #F2CA63;
    margin-top: 10%;
    font-family: 'Athiti', sans-serif;
}
.container-fluid .row .col-md-6 .row .col-md-12 span{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Athiti', sans-serif;
    color: white;
    line-height: 30px;
}
.container-fluid .row .col-md-6 .row .row{
    width: 100%;
    height: 30%;
    padding-top: 0;
    margin-top: 3.55%;


}
.container-fluid .row .col-md-6 .row .col-sm-2{
    height: 100%;
    width: 30%;

}


.container-fluid .row .col-md-6 .row .col-sm-10{
    height: 100%;
    width: 70%;
    color: white;
    padding-left: 0;
    margin-left: 0;
    padding-top: 2.5%;
 
}



@media screen and (max-width: 600px) {
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
        height: 100%;
    }

    .container-fluid .row{
        width: 100%;
        background-color: #494949;
        
    }

    .container-fluid .row .col-md-6 .row{
        width: 100%;
        
    }
    
    }
    




