@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.ventana{
    width: 100%;
    height: 80%;
    background-color: #494949;
    
    
}
.ventana .espacio{
    width: 100%;
    height: 5%;
}
.ventana .contenedor{
    width: 70%;
    height: 90%;
    margin-left: 2.5% ;
}

.ventana .contenedor .inicio{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    
}
.ventana .contenedor .inicio .imagen{
    width: 95%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.ventana .cuadros{
    float: right;
    width: 50%;
    height: 100%;
   
    
}
.ventana .cuadros .titulo{
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.ventana .contenedor .cuadros .ubi{
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 30px;
    
}
.ventana .contenedor .cuadros .contacto{
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    line-height: 30px;
    margin-top: 10px;
}
.ventana .contenedor .cuadros .redes{
    width: 60%;
    height: 8%;
    margin: auto;
    
}
.ventana .contenedor .cuadros .redes .logoig{
    width: 20%;
    height: 95%;
    float: left;
    background-color: white;
   
    
}
.ventana .contenedor .cuadros .redes .arroba{
    width: 80%;
    height: 100%;
    float: right;
    
}
.ventana .contenedor .cuadros .redes .arroba span{
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-left: 8%;
    font-family: 'Athiti', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
    margin-left: 9%;
}
.ventana .contenedor .cuadros .contacto span{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F2CA63;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
   
}
.ventana .cuadros .titulo span{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F2CA63;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
   
}
.ventana .cuadros .titulo img{
    width: 90%;
    height: 90%;
    margin: auto;
    
   
}

