.ventana{
    width: 100%;
    height: 80%;
    background-color: yellow;
    
    
}
.ventana .contenedor{
    width: 70%;
    height: 90%;
    margin-left: 2.5% ;
    background-color: blueviolet;
}

.ventana .contenedor .inicio{
    float: left;
    width: 50%;
    height: 100%;
    background-color: green;
    text-align: center;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.ventana .contenedor .inicio .imagen{
    width: 95%;
    height: 90%;
    background-color: yellow;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.ventana .cuadros{
    float: right;
    width: 50%;
    height: 100%;
    background-color: rebeccapurple;
   
    
}
.ventana .cuadros .titulo{
    width: 100%;
    height: 20%;
    background-color: brown;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.ventana .contenedor .cuadros .ubi{
    width: 100%;
    height: 20%;
    background-color: royalblue;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 30px;
    
}
.ventana .contenedor .cuadros .contacto{
    width: 100%;
    height: 20%;
    background-color: greenyellow;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    line-height: 30px;
    margin-top: 10px;
}
.ventana .contenedor .cuadros .redes{
    width: 60%;
    height: 8%;
    background-color: olive;
    margin: auto;
    
}
.ventana .contenedor .cuadros .redes .logoig{
    width: 20%;
    height: 100%;
    float: left;
    background-color: yellow;
    
}
.ventana .contenedor .cuadros .redes .arroba{
    width: 80%;
    height: 100%;
    float: right;
    background-color: rosybrown;
    
}
.ventana .contenedor .cuadros .redes .arroba span{
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-left: 8%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
    margin-left: 9%;
}
.ventana .contenedor .cuadros .contacto span{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F2CA63;
    font-size: 32px;
    font-weight: bold;
    
   
}
.ventana .cuadros .titulo span{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F2CA63;
    font-size: 24px;
    font-weight: bold;
    
   
}
.ventana .cuadros .titulo img{
    width: 90%;
    height: 90%;
    margin: auto;
    
   
}

