<app-navbar-derecho-gerente></app-navbar-derecho-gerente>
<app-navbar-perfil-gerente></app-navbar-perfil-gerente>

<div class="wrapper">
    <div class="contenedor">
        <div class="search" [formGroup]="form">
            <input type="text" placeholder="    ingresa el correo de un cliente"  formControlName="correo">
        </div>
        <div class="btn-search">
            <button (click)='search()'>Buscar</button>
        </div>
    </div>
    
    <div class="container">
        <p>Nombre del cliente: {{nombre}}</p>
        <p>Correo del cliente: {{correo}}</p>
        <p>Cédula del cliente: {{cedula}}</p>
        <p>Vehículo 1 registrado: {{vehiculo1}}</p>
        <p>Vehículo 2 registrado: {{vehiculo2}}</p>
        <p>Vehículo 3 registrado: {{vehiculo3}}</p>
    </div>
</div>
