

.navbar{
    width: 75%;
    height: 20%;
}

.navbar .logo-menu{
    width: 100%;
    height: 65%;
    background-color: rgb(66, 66, 66);
    padding-bottom: 10px;
}

.navbar .logo-menu .contenedor{
    width: 35%;
    height: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.navbar .options-menu{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(66, 66, 66);
    padding-bottom: 10px;
}

.navbar .options-menu .incio-button{
    position: relative;
    background-color: rgb(255, 201, 51);
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.navbar .options-menu .role-button{
    position: relative;
    background-color: rgb(255, 201, 51);
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}


