<div class='navbar'>
    <div class='logo-menu'>
        <div class='contenedor'>
            <img class='logo' src='./assets/PARALELO2.png'>
        </div>
    </div>
    <div class='options-menu'>
        <div class='incio-button'>
            <span><a [routerLink]="['/vista-inicio']" style="color: black; text-decoration: none;">INICIO</a></span>
        </div>
        <div class='contacto-button'>
            <span><a [routerLink]="['/vista-admin-roles']" style="color: black; text-decoration: none;">ADMINISTRACIÓN ROLES</a></span>
        </div>
        <div class='about-button'>
            <span><a [routerLink]="['']" style="color: black; text-decoration: none;">ROLES</a></span>
        </div>
    </div>
</div>

