.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
}

.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 25px;
    color: rgb(255, 201, 51);
}

//------------> form

.form-square{
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-square .form-square-background{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 85%;
    width: 70%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(255, 201, 51);
}

.form-square .form-square-background .form{
    justify-content: center;
    width: 100%;
}

.form-square .form-square-background .form .columnas{
    display: flex;
    justify-content: space-between;
    height: 90%;

}

.form-square .form-square-background .form .columna1{
    display: flex;
    width: 33.33%;
    flex-direction: column;
    justify-content: center;
 
}

.form-square .form-square-background .form .columna2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.33%;
}

.form-square .form-square-background .form .columna3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form-tittle{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.wrapper .form-square .form-square-background .send-button{
    height: 35px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 7px;
    border-radius: 5px;
    background-color: white;
    border-color: black;
}

input{
    width: 200px;
    height: 10px;
    border-radius: 5px;                      
    font-size: 15px;            
    margin: 10px 10px 10px 5px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .wrapper{
        width: 100%;
        height: 300%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .form-square .form-square-background{
        width: 80%;
        height: 90%;
        margin-bottom: 0;
    }
    .wrapper .form-square .form-square-background .send-button{
        width: 50%;
        height: 5%;
        margin-left: 25%; 
    }

    .form-square .form-square-background .form .columnas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .form-square .form-square-background .form .columna1{
        width: 100%;
        height: 60%;
        align-items: center;
    }   
    
    .form-square .form-square-background .form .columna2{
        width: 100%;
        height: 60%;
        align-items: center;
    }
    .form-square .form-square-background .form .columna3{
        width: 100%;
        height: 60%;
        align-items: center;
    }
}
@media screen and (max-width: 1024px) {
    .wrapper{
        width: 100%;
        height: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    }