<app-nabvar-derecho-perfil-mecanico></app-nabvar-derecho-perfil-mecanico>
<app-nabvar-perfil-mecanico></app-nabvar-perfil-mecanico>

<div class='wrapper'>
    <div class='title-box'>
        <div class='title'>
            <span>REGISTRO DE VEHÍCULO</span>
        </div>
    </div>
    <div class='form-square'>
        <div class='form-square-background'>
            <form [formGroup]="postForm" class='form'>
                <div class='columnas'>
                    <div class='columna1'>
                        <div class='group1'>
                            <input type="text" required><span class='bar'></span>
                            <label for=''>MARCA</label>
                        </div>
                        <div class='group2'>
                            <input type="text" required><span class='bar'></span>
                            <label for=''>MODELO</label>
                        </div>
                        <div class='group3'>
                            <input type="text" required><span class='bar'></span>
                            <label for=''>AÑO</label>
                        </div>
                        <div class='group4'>
                            <input type="text" required><span class='bar'></span>
                            <label for=''>PLACA</label>
                        </div>
                        <div class='group11'>
                            <input type="text" required><span class='bar'></span>
                            <label for=''>OTROS</label>
                        </div>
                    </div>
                    <div class=columna2>
                        <div class='group5'>
                            <input type="text" required><span class='bar'></span>
                            <label for=''>COLOR</label>
                        </div>
                        <div class='group6'>
                            <input type="text" required><span class='bar'></span>
                            <label for=''>KILOMETRAJE DE INGRESO</label>
                        </div>
                        <div class='group7'>
                            <input type="text" required><span class='bar'></span>
                            <label for=''>NIVEL DEL TANQUE DE GASOLINA</label>
                        </div>
                        <div class='group8'>
                            <input type="text" required><span class='bar'></span>
                            <label for=''>DAÑOS</label>
                        </div>
                        <div class='group10'>
                            <input type="text" required><span class='bar'></span>
                            <label for=''>REQUERIMIENTOS DEL CLIENTE</label>
                        </div>
                    </div>
                    <div class=columna3>
                        <div class='group5'>
                            <input type="checkbox" required><span class='bar'></span>
                            <label for=''>CAUCHO DE REPUESTO</label>
                        </div>
                        <div class='group6'>
                            <input type="checkbox" required><span class='bar'></span>
                            <label for=''>LLAVES</label>
                        </div>
                        <div class='group7'>
                            <input type="checkbox" required><span class='bar'></span>
                            <label for=''>GATO</label>
                        </div>
                        <div class='group8'>
                            <input type="checkbox" required><span class='bar'></span>
                            <label for=''>HERRAMIENTAS</label>
                        </div>
                        <div class='group9'>
                            <input type="checkbox" required><span class='bar'></span>
                            <label for=''>REPRODUCTOR</label>
                        </div>
                    </div>
                </div>
                <button class='send-button' type='submit'>REGISTRAR</button>
            </form>
        </div>
    </div>
</div>