@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
}

.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: 'Athiti', sans-serif ;
    font-size: 25px;
    color: rgb(255, 201, 51);
}

//------------> form

.form-square{
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}

.form-square .form-square-background{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 87%;
    width: 65%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(255, 201, 51);
}

.form-square .form-square-background .form{
    justify-content: center;
    margin-left: 60px;
}

.form-square .form-square-background .form .columnas{
    display: flex;
    justify-content: space-between;
    height: 90%;
}

.form-square .form-square-background .form .columna1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form .columna2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form .columna3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form-tittle{
    text-align: center;
    font-family: 'Athiti', sans-serif ;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-square .form-square-background .send-button{
    font-family: 'Athiti', sans-serif ;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 11px;
    border-radius: 0px;
    background-color: white;
    margin-left: 220px;
    border: none;
    width: 200px;
    height: 30px;
}

input{
    width: 200px;
    height: 10px;
    border-radius: 36px 12px;                        
    font-size: 15px;            
    margin: 10px 10px 10px 5px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

label{
    font-family: 'Athiti', sans-serif ;
    font-size: 14px; 
    font-weight: bold;
}

.checkbox{
    height: 30px;
    margin-bottom: 13px;
    margin-top: 0px;
}
