<app-navbar-derecho-gerente></app-navbar-derecho-gerente>
<app-navbar-perfil-gerente></app-navbar-perfil-gerente>

<div class='wrapper'>
    <div class='title-box'>
        <div class='title'>
            <span>CERRAR ÓRDENES</span>
        </div>
    </div>
    <div class='input-section'>
        <form  class='input-form' [formGroup]="registroVehiculoForm">
            <div class='input'>
                <input type="text" formControlName="placa" required><span class='bar'></span>
                <span>INGRESE LA PLACA DEL VEHÍCULO</span>
            </div>
            <button class='input-button' (click)="search()">BUSCAR</button>
        </form>
    </div>
  
    <!--este forma debe de ser un ng if-->
  
    <div class='form-square'>
        <div class='form-square-background'>
              <div class='identificador'>
                <span *ngIf="!placa">SIN RESULTADOS</span>
                <span *ngIf="placa">ENCONTRADO VEHÍCULO DE PLACA {{placa}}</span>
              </div>
            <form  class='fechaForm' [formGroup]="formPrecios">
              <div class='columnas'>
                <div class="cajas">
                  <div class="identificador1">
                      <div class="titulitos">
                        <label>Repuestos utilizados: </label>
                      </div>
                      <div class="float">
                        <textarea name="repuestos"cols="30" rows="10">{{repuestos}}</textarea>
                        <input class= "precio" placeholder="Costo total: 600$" type="text" formControlName="precio1">
                      </div>
                  </div>
                  <div class="identificador2">
                    <div class="titulitos">
                      <p>Procedimientos aplicados:</p>
                    </div>
                    <div class="float">
                      <textarea name="repuestos"cols="30" rows="10">{{procedimiento}}</textarea>
                      <input class= "precio" placeholder="Costo total: 600$" type="text" formControlName="precio2">
                    </div>
                </div>
                  <div class="btn-asignar">
                      <button class="asignar" (click)="asignar()">ASIGNAR</button>
                  </div>
                </div>
              </div>
            </form>
        </div>
    </div>
  </div>
  