@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');
@import "node_modules/font-awesome/scss/font-awesome.scss";

.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
    float: left;
}

.contenedor{
    width: 70%;
    background-color: rgb(255, 201, 51);
    margin: 20px;
    margin-left: 150px;
    height: 70%;
    margin-top: 20px;
    border-radius: 12px;
}

.titulo{
    font-family: "Athiti",sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    height: 30px;
}

.flechas{
    height: 30px;
    text-align: center;
}

.btn{
    border: none;
    margin-right: 9px;
    width: 200px;
}

.fa-arrow-left{
    font-size: 26px;
}

.fa-arrow-right{
    font-size: 26px;
}

.cajas{
    background-color: white;
    height: 15%;
    margin-top: 15px;
    width: 93%;
    margin-left: 20px;
    font-family: "Athiti",sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.identificador{
    margin-top: 10px;
}

.fechi{
    width: 100px;
    height: 10px;
    border-color: black;
    margin-top:10px;
    border-radius: none;
}

.btn-cerrar{
    height: 30px;
    margin-top: 140px;
    margin-left: 490px;
}

.asignar{
    font-family: "Athiti",sans-serif;
    border-color: black;
    background-color: white;
    cursor: pointer;
    width: 160px;
}

.wrapper .input-section{
    margin-top: 20px;
    height: 13%;
    width: 100%;
    display: flex;
}

.wrapper .input-section .input-form{
    height: 20%;
    display: flex;
    
}

input{
    width: 500px;
    height: 10px;
    border-radius: 36px 12px;                     
    font-size: 15px;            
    margin: 10px 10px 10px 50px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

.wrapper .input-section .input{
    height: 30px;
    margin-left: 100px;
    font-family: 'Athiti', sans-serif ;
    font-size: 13px; 
    font-weight: bold;
    margin-top: 20px;
    color: white;
    border-radius: 36px 12px; 
    border: none;
}

.wrapper .input-section .input-button{
    height: 30px;
    width: 70px;
    margin-left: 10px;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 30px;
    background-color: white;
    border: none;
}

.precio{
    margin-left: 200px;
}
