@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');
@import "node_modules/font-awesome/scss/font-awesome.scss";

$phone: 480px;
.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
    float: left;
}
.titulo{
    height: 20px;
    font-family:'Athiti', sans-serif;
    color: white;
    font-size: 20px;
}

.caja{
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    background-color:  rgb(255, 201, 51);
    width: 70%;
    margin-left: 150px;
}

label{
    margin-left: 20px;
}

.fecha{
    background-color: red;
    margin-left: -580px;
    width: 450px;
    margin-top: 8px;
    height: 0px;
    color: white;
    font-family: 'Athiti', sans-serif;
}

.parte-derecha{
    display: flex;
    float: left;
    justify-content: space-between;
}

.mayortit{
    height: 20px;
    font-family:'Athiti', sans-serif;
    color: white;
    margin-left: 30px;
    font-size: 25px;
    padding: 12px;
}

.fa-check{
    color: yellowgreen;
    font-size: 30px;
}

.fa-trash{
    color: gray;
    font-size: 30px;
}

.fa-times{
    color:red;
    font-size: 30px;
}

.btn-1{
    border:none;
    height: 30px;
    margin: 6px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.btn-2{
    border:none;
    height: 30px;
    margin: 6px;
    border-radius: 3px;
    width: 30px;
    cursor: pointer;
    outline: none;
}

.btn-3{
    border:none;
    height: 30px;
    margin: 6px;
    width: 30px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.iconos{
    background-color: lightsteelblue;
}

.btn-cita{
    border: none;
    cursor: pointer;
    outline: none;
    font-family: 'Athiti', sans-serif;
    height: 30px;
    width: 200px;
    margin-top: 5px;
    margin-right: 5px;
}