@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');
@import "node_modules/font-awesome/scss/font-awesome.scss";

.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
    float: left;
}
.titulo{
    height: 20px;
    font-family:'Athiti', sans-serif;
    color: white;
    font-size: 20px;
}

.caja{
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    background-color:  rgb(255, 201, 51);
    width: 70%;
    margin-left: 15%;
}
/*
label{
    margin-left: 20px;
}


.fechas{
    margin-left: 200px;
}
*/


.parte-derecha{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}
.fecha{
    background-color: red;
    width: 60%;
    margin-top: 1.5%;
    height: 0px;
    color: white;
    font-family: 'Athiti', sans-serif;
}

.mayortit{
    height: 15%;
    font-family:'Athiti', sans-serif;
    color: white;
    margin-left: 15%;
    font-size: 25px;
    padding: 12px;
}

.fa-check{
    color: yellowgreen;
    font-size: 25px;
}

.fa-trash{
    color: gray;
    font-size: 25px;
}

.fa-times{
    color:red;
    font-size: 25px;
}

.btn-1{
    border:none;
    height: 60%;
    width: 30%;
    margin-left: 2.5%;
    margin-top: 5%;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.btn-2{
    border:none;
    height: 30px;
    margin: 6px;
    border-radius: 3px;
    width: 30px;
    cursor: pointer;
    outline: none;
}

.btn-3{
    border:none;
    height: 30px;
    margin: 6px;
    width: 30px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.iconos{
    background-color: lightsteelblue;
    width: 40%;
    height: 100%;
    float: right;
}
.boton{
    width: 30%;
    height: 90%;
    padding-right: 0;
}

.btn-cita{
    border: none;
    cursor: pointer;
    outline: none;
    font-family: 'Athiti', sans-serif;
    height: 90%;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0;
}
@media screen and (max-width: 600px) {
    .wrapper{
        width: 100%;
        height: 100%;
        padding-left: 0;
        margin-left: 0;
    }

    .iconos{
        width: 40%;
    }
    .boton{
        width: 40%;
    }
    .fecha{
        font-size: 12px;
    }

}
@media screen and (max-width: 1024px) {
    .wrapper{
        width: 100%;
        height: 100%;
    }
    .iconos{
        width: 40%;
    }
    .boton{
        width: 40%;
    }
    .fecha{
        margin-top: 0%;
        font-size: 16px;
    }
}