<app-navbar-derecho-cliente></app-navbar-derecho-cliente>
<app-navbar-perfil-cliente></app-navbar-perfil-cliente>


<div class="wrapper">
    <div class="caja">
        <div class="titulo">
            <label>VEHICULO 1</label>
        </div>
        <div class="boton">
            <button [disabled]="clicked" (click)="clickedx()" class="btn-cita">SOLICITAR CITA</button>
        </div>
    </div>

    <div class="caja">
        <div class="titulo">
            <label>VEHICULO 2</label>
        </div>
        <div class="boton">
            <button [disabled]="clicked2" (click)="clickedx2()" class="btn-cita">SOLICITAR CITA</button>
        </div>
    </div>
    <div class="caja">
        <div class="titulo">
            <label>VEHICULO 3</label>
        </div>
        <div class="boton">
            <button [disabled]="clicked3" (click)="clickedx3()" class="btn-cita">SOLICITAR CITA</button>
        </div>
    </div>
    <div class="mayortit">
        <label>MIS CITAS</label>
    </div>
    <div class="caja" *ngIf="clicked">
        <div class="titulo">
            <label>VEHICULO 1</label>
        </div>
        <div class="parte-derecha">
            <div class="fecha">
                <label *ngIf="confirmada1!='confirmada'">Fecha: {{fecha1}}</label>
                <label *ngIf="confirmada1=='confirmada'">Cita en progreso, para ver estado revisa "Reparaciones"</label>
            </div>
            <div class="iconos" *ngIf="confirmada1=='En espera de confirmación'">
                <button class="btn-1" (click)="confirmar1()"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="btn-2" (click)="pedirOtraFecha1()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <button class="btn-3"(click)="trash1()"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
            <div class="iconos" *ngIf="confirmada1=='cita solicitada'">
                <button class="btn-1" [disabled]="clicked"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="btn-2" [disabled]="clicked"><i class="fa fa-times" aria-hidden="true"></i></button>
                <button class="btn-3" (click)="trash1()"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="caja" *ngIf="clicked2">
        <div class="titulo">
            <label>VEHICULO 2</label>
        </div>
        <div class="parte-derecha">
            <div class="fecha">
                <label *ngIf="confirmada2!='confirmada'">Fecha: {{fecha2}}</label>
                <label *ngIf="confirmada2=='confirmada'">Cita en progreso, para ver estado revisa "Reparaciones"</label>
            </div>
            <div class="iconos" *ngIf="confirmada2=='En espera de confirmación'">
                <button class="btn-1" (click)="confirmar2()"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="btn-2" (click)="pedirOtraFecha2()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <button class="btn-3" (click)="trash2()"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
            <div class="iconos" *ngIf="confirmada2=='cita solicitada'">
                <button class="btn-1" [disabled]="clicked2"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="btn-2" [disabled]="clicked2"><i class="fa fa-times" aria-hidden="true"></i></button>
                <button class="btn-3" (click)="trash2()"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="caja" *ngIf="clicked3">
        <div class="titulo">
            <label>VEHICULO 3</label>
        </div>
        <div class="parte-derecha">
            <div class="fecha">
                <label *ngIf="confirmada3!='confirmada'">Fecha: {{fecha3}}</label>
                <label *ngIf="confirmada3=='confirmada'">Cita en progreso, para ver estado revisa "Reparaciones"</label>
            </div>
            <div class="iconos" *ngIf="confirmada3=='En espera de confirmación'">
                <button class="btn-1" (click)="confirmar3()"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="btn-2" (click)="pedirOtraFecha3()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <button class="btn-3" (click)="trash3()"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
            <div class="iconos" *ngIf="confirmada3=='cita solicitada'">
                <button class="btn-1" [disabled]="clicked3"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="btn-2" [disabled]="clicked3"><i class="fa fa-times" aria-hidden="true"></i></button>
                <button class="btn-3" (click)="trash3()"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>

</div>