.ventana{
    width: 100%;
    height: 80%;
    background-color: yellow;
    
}

.ventana .inicio{
    width: 30%;
    height: 10%;
    background-color: green;
    text-align: center;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.ventana .inicio span{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ventana .cuadros{
    width: 30%;
    height: 40%;
    background-color: rebeccapurple;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ventana .cuadros .form-square{
    width: 100%;
    height: 100%;
    background-color: rosybrown;
    
}
.ventana  .cuadros .form-square .info{
    width: 100%;
    height: 40%;
    background-color: orange;
    
    text-align: left;
   
}
.ventana  .cuadros .form-square .info input{
    width: 90%;
    height: 35%;
    background-color: white;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
} 
.ventana  .cuadros .form-square .info label{
   margin-left: 8%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
} 
.ventana .cuadros .form-square .enviar {
    height: 20%;
    width: 100%;
    background-color: blue;
    
    
}
.ventana .cuadros .form-square .enviar .send-button{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    background-color: white;
    border-color: black;
    
}