@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.ventana{
    width: 100%;
    height: 80%;
    background-color: #494949;
    
}
.ventana .espacio{
    width: 100%;
    height: 20%;

}
.ventana .inicio{
    width: 30%;
    height: 10%;
    text-align: center;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.ventana .inicio span{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F2CA63;
    font-size: 20px;
    font-family: 'Athiti', sans-serif;
}
.ventana .cuadros{
    width: 30%;
    height: 40%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ventana .cuadros .form-square{
    width: 100%;
    height: 100%;

    
}
.ventana  .cuadros .form-square .info{
    width: 100%;
    height: 40%;  
    text-align: left;
   
}
.ventana  .cuadros .form-square .info input{
    width: 90%;
    height: 45%;
    background-color: white;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 12px;
} 
.ventana  .cuadros .form-square .info label{
   margin-left: 8%;
   font-family: 'Athiti', sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: white;
} 
.ventana .cuadros .form-square .enviar {
    height: 20%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.ventana .cuadros .form-square .enviar .send-button{
    height: 100%;
    width: 90%;
    font-family:'Athiti', sans-serif;
    font-size: 15px; 
    color: black;
    font-weight: bold;
    background-color: #F2CA63;
    border-color: black;
}