<app-navbar-derecho-gerente></app-navbar-derecho-gerente>
<app-navbar-perfil-gerente></app-navbar-perfil-gerente>

<div class='wrapper'>
    <div class="title">
      <label>GESTIÓN DE CITAS</label>
    </div>
      <div class="botones">
          <button class="btn"[routerLink]="['/calendario']">CALENDARIO DE CITAS</button>
          <button class="btn" [routerLink]="['/citas-asignadas']">CITAS POR ASIGNAR</button>
          <button class="btn" [routerLink]="['/citas-rechazadas']">CITAS RECHAZADAS</button>
      </div>
  </div>