<app-navbar-derecho-cliente></app-navbar-derecho-cliente>
<app-navbar-perfil-cliente></app-navbar-perfil-cliente>


<div class='wrapper'>
    <div class='title-box'>
        <div class='title'>
            <span>ESTATUS DE CITAS Y REPARACIONES</span>
        </div>
    </div> 
    <div class="title1">
        <p>VEHÍCULO 1</p>
    </div>
    <div class="estatus">
        <div class="cajas">
            <div class="caja1">
                <p>1.CITA SOLICITADA</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja2">
                <p>2.CITA CONFIRMADA</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja3">
                <p>3.INICIO DE REPARACION</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja4">
                <p>4.REPARACION EN PROCESO</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja5">
                <p>5.REPARACION FINALIZADA</p>
            </div>
        </div>
        <div class="info-caja">
            <div class="mini-caja">
                <p>1. Su cita para el vehiculo 1 ha sido solicitada</p>
            </div>
            
        </div>
        <div class="title2">
            <p>VEHÍCULO 2</p>
        </div>
        <div class="cajas">
            <div class="caja1">
                <p>1.CITA SOLICITADA</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja2">
                <p>2.CITA CONFIRMADA</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja3">
                <p>3.INICIO DE REPARACION</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja4">
                <p>4.REPARACION EN PROCESO</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja5">
                <p>5.REPARACION FINALIZADA</p>
            </div>
        </div>
        <div class="info-caja">
            <div class="mini-caja">
                <p>1. No ha solicitado citas para este vehículo</p>
            </div>
            
        </div>
        <div class="title3">
            <p>VEHÍCULO 3</p>
        </div>
        <div class="cajas">
            <div class="caja1">
                <p>1.CITA SOLICITADA</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja2">
                <p>2.CITA CONFIRMADA</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja3">
                <p>3.INICIO DE REPARACION</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja4">
                <p>4.REPARACION EN PROCESO</p>
            </div>
            <div class="triangulo">
                
            </div>
            <div class="caja5">
                <p>5.REPARACION FINALIZADA</p>
            </div>
        </div>
        <div class="info-caja">
            <div class="mini-caja">
                <p>1. No ha solicitado citas para este vehículo</p>
            </div>
            
        </div>
    </div>
</div>