@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.navbar{
    height: 20%;
    margin-top: 0;
    padding-top: 0%;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
}
.navbar-light{
    background-color: #494949;
}

.container-fluid{
    margin: 0;
    width: 100%;
    height: 100%;

}
.container-fluid .row{
    width: 30%;
    height: 75%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    
}
.container-fluid .row .logo{
    width: 100%;
    height: 100%;
}
.container-fluid .collapse{
    height: 50%;
    width: 100%; 

}
.container-fluid .collapse .navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Athiti', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}
.container-fluid .collapse .navbar-nav .nav-item{
   background-color: #FFC933;
   width: 29%;
   height: 60%;
   text-align: center;
   color: black;
}
.container-fluid .collapse .navbar-nav .nav-item a{
    font-size: 12px;   
    width: 100%;
}
.container-fluid .collapse .navbar-nav .nav-item:hover{
    background-color:cadetblue;
    text-decoration: underline;
 }
 .container-fluid .collapse .navbar-nav .nav-item a:hover{
   color: white;
 }
 .container-fluid .collapse .esconde{
    display: none;
  }

  @media screen and (max-width: 1024px) {
    
    .container-fluid .collapse .navbar-nav {
        font-size: 12px;   
    }
    .container-fluid .collapse .navbar-nav .nav-item{
        font-size: 12px;   
        height: 70%;
    }
    .container-fluid .collapse .navbar-nav .nav-item a{
        font-size: 12px;   
        height: 70%;
    }

    }