<app-navbar-derecho-gerente></app-navbar-derecho-gerente>
<app-navbar-perfil-gerente></app-navbar-perfil-gerente>

<div class="wrapper">
    <div class="contenedor" [formGroup]="form">
        <div class="search">
            <input type="text" placeholder="  Ingrese placa del vehiculo" formControlName="placa">
        </div>
        <div class="btn-search">
            <button (click)='search()'>Buscar</button>
        </div>
    </div>
    
    <div class="container">
        <p>Dueño del vehiculo: {{duenno}}</p>
        <p>Placa: {{placa}}</p>
        <p>Modelo: {{modelo}}</p>
        <p>Servicios realizados en el taller: {{servicios}}</p>
    </div>
</div>

