<app-navbar-derecho-cliente></app-navbar-derecho-cliente>
<app-navbar-perfil-cliente></app-navbar-perfil-cliente>

<div class='container-fluid'>
    <div class='container'>
            <span>DATOS DEL CLIENTE</span>
    </div>
    <div class="row">
        <div class='col-md-5'>
                <form [formGroup]="datosform">
                    <div class='form-group'>
                        <input type="text" class="form-control" required id="nombre" formControlName="nombre_apellido"><span class='bar'></span>
                        <label for=''>NOMBRE Y APELLIDO</label>
                    </div>
                    <div class='form-group'>
                        <input type="text" class="form-control" required id="cedula" formControlName="cedula" required maxlength="8"><span class='bar'></span>
                        <label for=''>CÉDULA DE IDENTIDAD</label>
                    </div>
                    <div class='form-group'>
                        <input type="text" class="form-control"  required id="fecha" formControlName="fecha"><span class='bar'></span>
                        <label for=''>FECHA DE NACIMIENTO</label>
                    </div>
                    <div class='form-group'>
                        <input type="text" class="form-control" required id="lugar" formControlName="lugar"><span class='bar'></span>
                        <label for=''>LUGAR DE RESIDENCIA</label>
                    </div>
                    <div class='form-group'>
                        <input type="text" class="form-control" required id="numero" formControlName="numero"><span class='bar'></span>
                        <label for=''>NÚMERO DE TELÉFONO</label>
                    </div>
                    <div>
                        <button (click)="modificarInfoUsuario()" class="btn btn-primary">GUARDAR CAMBIOS</button>
                    </div> 
                </form>
            
        </div>
        <div class="col-md-7">
                <h1>ADMINISTRAR VEHÍCULOS</h1>            
                <button [routerLink]="['/vista-registrar-vehiculo1']" class="btn btn-default">IR A VEHÍCULO 1</button>
                <button [routerLink]="['/vista-registrar-vehiculo2']" class="btn btn-default">IR A VEHÍCULO 2</button>
                <button [routerLink]="['/vista-registrar-vehiculo3']" class="btn btn-default">IR A VEHÍCULO 3</button> 
        </div>
    </div>
    
</div>