@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');


.container-fluid{
    height: 80%;
    width: 100%;
    background-color: rgb(66, 66, 66);
}

.container-fluid .container{
    height: 15%;
    width: 75%;
    display: flex;
    justify-content: center;
    font-family: 'Athiti', sans-serif ;
    font-size: 25px;
    color: rgb(255, 201, 51);
}

.container-fluid .row{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    height: 85%;
    width: 75%;
}

.container-fluid .row .col-md-5{
    height: 85%;
    width: 35%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 201, 51);
}


.container-fluid .row .col-md-5 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-fluid .row .col-md-5 .form-group{
    height: 10%;
    margin-top: 1%;
    width: 100%;
    
}
.container-fluid .row .col-md-5 .form-group .form-control{
    width: 300px;
    height: 10px;
    border-radius: 36px 12px;                      
    font-size: 15px;            
    margin: 5px 10px 10px 1px; 
    margin-left: 10px;
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}  
.container-fluid .row .col-md-5 .form-group label{
    font-family: 'Athiti', sans-serif;
    font-size: 14px; 
    font-weight: bold;
    margin-left: 20px;
}  
.container-fluid .row .col-md-5 .btn-primary{
    margin: auto;
    margin-top: 2%;
    color: black;
    width: 90%;
    height: 7%;
    border: 1px black solid;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px;
    text-align: center;
    background-color: #EFEFEF;
}
.form-square .form-square-background .form-tittle{
    text-align: center;
    font-family: 'Athiti', sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
}
.container-fluid .row .col-md-7{
    width: 65%;
    height: 85%;
    padding-top: 10%;
}            
.container-fluid .row .col-md-7 h1{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 24px;
    color: #F2CA63;
    margin-bottom: 5%;
}

.texto1{
    margin-right: 165px;
    margin-top: 120px;
    font-family: 'Athiti', sans-serif ;
    color: white;
    text-align: center;
    font-size: 20px;
}

.administrar{
    height: 10px;
}
.btn-default{
    width: 27%;
    height: 10%;
    border: 0ch;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px;
    text-align: center;
    margin-left: 5%; 
    margin-bottom: 3%;
}


@media screen and (max-width: 600px) {
    .container-fluid{
        padding-bottom: 0;
        margin-bottom: 0;
        background-color: #494949;
        height: 150%;
    }


    .container-fluid .row{
        width: 100%;
        margin-bottom: 0;
        margin: auto;
    }

    .container-fluid .row .col-md-5{
        width: 100%;
        height: 65%;
    }
    .container-fluid .row .col-md-7{
        width: 100%;
        height: 35%;
    }    
    .btn-default{
        width: 80%;
        height: 17%;
        margin-left: 10%; 
    }

    }
    @media screen and (max-width: 1024px) {
        .container-fluid{
            padding-bottom: 0;
            margin-bottom: 0;
            background-color: #494949;
            height: 150%;
        }
    
    
        .container-fluid .row{
            width: 100%;
            margin-bottom: 0;
            margin: auto;
        }
    
        .container-fluid .row .col-md-5{
            width: 100%;
            height: 65%;
        }
        .container-fluid .row .col-md-7{
            width: 100%;
            height: 35%;
        }    
        .btn-default{
            width: 80%;
            height: 22%;
            margin-left: 10%; 
        }
       
        }