<app-navbar-derecho-pagina-principal></app-navbar-derecho-pagina-principal>
<app-navbar-pagina-principal></app-navbar-pagina-principal>

<div class='container-fluid'>
        <div class='container'>
            <span>INICIAR SESIÓN</span>
        </div>
    <div class='row'>
            <div class='col-md-12'>
                <form class='form' [formGroup]="authForm">
                    <div class='form-group'>
                        <input type="email"
                        class="form-control"
                        id="email"
                        formControlName="email"
                        placeholder="   Ingrese su correo"
                        required><span class='bar'></span>
                        <label for=''>EMAIL</label>
                    </div>
                    <div class='form-group'>
                        <input type="password"
                        class="form-control" 
                        id="password"
                        formControlName="password"
                        placeholder="   Ingrese su contraseña"
                        required><span class='bar'></span>
                        <label for=''>PASSWORD</label>
                    </div>
                        <button type="submit" class="btn btn-primary" (click)='iniciarSinGoogle()'>SEND</button>
                        <button type="submit" class="btn btn-primary" (click)="handleGoogleLogin()">SIGN UP WITH GOOGLE</button>
                  
                </form>
            </div>
</div></div>

