@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');


.container-fluid{
    width: 100%;
    height: 80%;
    background-color: #494949;
    
    
}

.container-fluid .container{
    width: 75%;
    height: 15%;
    display: flex;
    justify-content: center;
    font-family: 'Athiti', sans-serif;
    font-size: 25px;
    color: rgb(255, 201, 51);
    text-align: center;

}


.container-fluid .row{
    height: 70%;
    width: 35%;
    margin:auto;

}

.container-fluid .row .col-md-12{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    height: 87%;
    width: 90%;
    background-color: rgb(255, 201, 51);
}

.container-fluid  .row .col-md-12 form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}


.container-fluid  .row .col-md-12 .form-group{
    width: 100%;
    text-align: center;
    font-family: 'Athiti', sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;

}

.container-fluid  .row .col-md-12 .form-group .form-control{
    width: 60%;
    height: 40%;
    border-radius: 36px 12px;                      
    font-size: 15px;            
    margin: 5px 10px 10px 1px; 
    margin-left: 10px;
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
    float: right;
}
.container-fluid  .row .col-md-12 .form-group label{
    color: white;
    margin-top: 2%;
    float: left;
    font-family: 'Athiti', sans-serif;
    font-size: 14px; 
    font-weight: bold;
    margin-left: 20px;
}
.container-fluid  .row .col-md-12  .btn-primary{
    width: 90%;
    height: 15%;
    border: 1px black solid;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}
@media screen and (max-width: 600px) {
    .container-fluid{
        padding-bottom: 0;
        margin-bottom: 0;
        height: 100%;
    }
    .container-fluid .row{
        width: 100%;
        height: 80%;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .container-fluid .row .col-md-12{
        margin-top: 0;
        width: 100%;
        height: 60%;
        padding-top: 0;
    }

    .container-fluid  .row .col-md-12 .form-group{
       height: 40%;
       margin-bottom: 0%;
       margin-top: 0%;
        
    }
    .container-fluid  .row .col-md-12 .form-group .form-control{
        height: 40%;
        margin-top: 0;
       
    }
    .container-fluid  .row .col-md-12  .btn-primary{
        height: 15%;
        margin-bottom: 1%;
    }
    }
/*
label{
    font-family: 'Athiti', sans-serif;
    font-size: 14px; 
    font-weight: bold;
    margin-left: 20px;
}

.texto1{
    margin-right: 165px;
    margin-top: 120px;
    font-family: 'Audiowide', cursive;
    color: white;
    text-align: center;
}


.btn{
    margin: 30px;
    color: black;
    width: 150px;
    height: 30px;
    border: 0ch;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px;
    text-align: center;
}

button{
    width: 300px;
    height: 30px;
    border: 0ch;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px;
    text-align: center;
    margin: 5px;
    margin-left: 5%;
}*/