@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');


.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
}

.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: 'Athiti', sans-serif;
    font-size: 25px;
    color: rgb(255, 201, 51);
}

.wrapper .title-box .title2{
    font-family: 'Athiti', sans-serif;
    font-size: 20px;
    color: rgb(255, 201, 51);
    margin-left: -550px;
    margin-top: 20px;
    position: static;
}

.space{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    height: 95%;
}

.form-square{
    height: 85%;
    width: 35%;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
}

.form-square .form-square-background{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 87%;
    width: 90%;
    padding: 35px;
    background-color: rgb(255, 201, 51);
}

.form-square .form-square-background .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form-tittle{
    text-align: center;
    font-family: 'Athiti', sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
}

input{
    width: 300px;
    height: 10px;
    border-radius: 36px 12px;                      
    font-size: 15px;            
    margin: 5px 10px 2px 1px; 
    margin-left: 10px;
    padding: 9px 10px 10px 5px;
    display: block;             
    border: none;
}

label{
    font-family: 'Athiti', sans-serif;
    font-size: 14px; 
    font-weight: bold;
    margin-left: 20px;
    margin-top: 3px;
}

button{
    width: 150px;
    height: 30px;
    border: 0ch;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px;
    text-align: center;
    margin: 5px;
}

.citas{
    height: 400px;
    width: 300px;
    margin-right: 120px;
    margin-top: 20px;
    //background-color: red;
    display: flex;
    flex-direction: column;
    font-family: 'Athiti', sans-serif ;
    color: white;
    text-align: center;
}

.foto{
    width: 250px;
    height: 250px;
    text-align: center;
    //background-color: rosybrown;
    margin: 10px;
    margin-left: 25px;
}

img{
    width: 250px;
    height: 250px;
}
.title2{
    margin-top: 20px;
    font-size: 20px;
    //background-color: royalblue;
    height: 40px;
}

.btn2{
<<<<<<< HEAD
    position: static;
    margin-top: 350px;
    margin-left: -350px;
}
@media screen and (max-width: 600px) {
    .wrapper{
        width: 100%;
        height: 150%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .wrapper .title-box .title{
        margin: auto;
    }
    .form-square{
        margin-top: 25%;
        width: 100%;
        height: 65%
    }
    
    .citas{
        height: 35%;
    }
    .wrapper .space .citas .btn2{
        margin-top: 60px;
       
    }
}
@media screen and (max-width: 1024px) {
    .wrapper{
        width: 100%;
        height: 150%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .wrapper .title-box .title{
        margin: auto;
    }
    .form-square{
        margin-top: 25%;
        width: 100%;
        height: 65%
    }
    
    .citas{
        height: 35%;
    }
    .wrapper .space .citas .btn2{
        margin-top: 60px;
       
    }
}
=======
    height: 50px;
    //background-color: green;
}
>>>>>>> 8b9474494d7031c8e124656fac41db171dcf4d47
