<app-nabvar-derecho-perfil-mecanico></app-nabvar-derecho-perfil-mecanico>
<app-nabvar-perfil-mecanico></app-nabvar-perfil-mecanico>

<div class='wrapper'>
    <div class='title-box'>
        <div class='title'>
            <span>VEHICULOS REGISTRADOS</span>
        </div>
    </div>
    <div class='input-section'>
        <form [formGroup]="registroVehiculoForm" (ngSubmit)='search()' class='input-form'>
            <div class='input'>
                <input type="text" formControlName="placa" required class="busca"><span class='bar'></span>
                <span>INGRESA LA PLACA DEL VEHICULO</span>
            </div>
            <button class='input-button' type="submit">BUSCAR</button>
        </form>
    </div>

    <!--este forma debe de ser un ng if-->

    <div class='form-square'>
        <div class='form-square-background'>
            <form [formGroup]="infoVehiculo" class='cahnges-form' >  <!--este es el form-->
                <div class='identificador'>
                    <span *ngIf="placa">VEHICULO ENCONTRADO DE PLACA {{placa}} ENCONTRADO</span>
                    <span *ngIf="!placa">SIN RESULTADOS</span>
                </div>
                <div class='columnas'>
                    <div class='columna1'>
                        <div class='group1'>
                            <input formControlName="repuestos" type="text" required><span class='bar'></span>
                            <label for=''>REPUESTOS NECESARIOS</label>
                        </div>
                        <div class='group2'>
                            <input formControlName="procedimiento" type="text" required><span class='bar'></span>
                            <label for=''>PROCEDIMIENTO APLICADO</label>
                        </div>
                        <div class='group3'>
                            <input type="text" formControlName="diagnostico" required><span class='bar'></span>
                            <label for=''>DIAGNÓSTICO</label>
                        </div>
                    </div>
                </div>
                <div class='botones'>
                    <button class='send-button' (click)='modify()'>GUARDAR ORDEN</button>
                    <button class='send-button' (click)='cerrarOrden()'>CERRAR ORDEN</button>
                </div>
            </form>
        </div>
    </div>
</div>
