@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
}

.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: 'Athiti', sans-serif ;
    font-size: 25px;
    color: rgb(255, 201, 51);
}


//------>SEGUNDO BUSCADOR

.wrapper .input-section{
    height: 20%;
    width: 100%;
    display: flex;
   
}

.wrapper .input-section .input-form{
    height: 20%;
    width: 100%;
    display: flex;
}

.wrapper .input-section .input{
    height: 65%;
    width: 55%;
    margin-left: 10px;
    font-family: 'Athiti', sans-serif ;
    font-size: 13px; 
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
.wrapper .input-section .input .busca{
    height: 10px;
    border-radius: 5px;                      
    font-size: 15px;            
    margin: 10px 10px 10px 5px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

.wrapper .input-section .input-button{
    height: 30px;
    width: 70px;
    margin-left: 10px;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 30px;
    background-color: white;
    border: none;
}

//------> FORM

.form-square{
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}

.form-square .form-square-background{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    height: 85%;
    width: 55%;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(255, 201, 51);
}

.form-square .form-square-background .cahnges-form{
    justify-content: center;
}

.form-square .form-square-background .cahnges-form .identificador{
    display: flex;
    justify-content: center;
    height: 10%;
    font-family: 'Athiti', sans-serif ;
    font-size: 18px; 
    font-weight: bold;
}

.form-square .form-square-background .cahnges-form .columnas{
    display: flex;
    justify-content: space-between;
    height: 80%;
   
}

.form-square .form-square-background .cahnges-form .columna1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.form-square .form-square-background .cahnges-form .columna2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .cahnges-form .columna3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .cahnges-form-tittle{
    text-align: center;
    font-family: 'Athiti', sans-serif ;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-square .form-square-background .botones{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 35px;
}

.form-square .form-square-background .botones .send-button{
    font-family: 'Athiti', sans-serif ;
    font-size: 15px; 
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 7px;
    background-color: white;
    border: none;
}

input{
    width: 500px;
    height: 10px;
    border-radius: 36px 12px;                     
    font-size: 15px;            
    margin: 10px 10px 10px 5px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

label{
    font-family: 'Athiti', sans-serif ;
    font-size: 14px; 
    font-weight: bold;
}

.form-square .form-square-background{
        width: 80%;
        height: 90%;
        margin-bottom: 0;
    }
    @media screen and (max-width: 600px) {
        .wrapper{
            width: 100%;
            height: 100%;
            padding-bottom: 0;
            margin-bottom: 0;
        }
       
        .wrapper .input-section .input .busca{
            width: 80%;
           
        }
        input{
            width: 100%;
            margin-left: 35%;
      
        }
        label{
           margin-left: 35%;
           width: 100%;
        }
        .form-square .form-square-background{
            width: 80%;
            height: 90%;
            margin-bottom: 0;
        }
        .form-square .form-square-background .botones{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .form-square .form-square-background .botones .send-button{
            width: 30%;
            height: 100%;
            font-size: 12px;
        }
        .citas{
            height: 35%;
        }
        .wrapper .space .citas .btn2{
            margin-top: 60px;
           
        }
    }
    @media screen and (max-width: 1024px) {
        .wrapper{
            width: 100%;
            height: 100%;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .wrapper .input-section .input .busca{
            width: 80%;
           
        }
        }