.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
}

.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 25px;
    color: rgb(255, 201, 51);
}


//------>SEGUNDO BUSCADOR

.wrapper .input-section{
    height: 20%;
    width: 100%;
    display: flex;
}

.wrapper .input-section .input{
    height: 65%;
    width: 55%;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    font-weight: bold;
    margin-top: 20px;
    color: white;
}

.wrapper .input-section .input-button{
    height: 30px;
    width: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 30px;
    border-radius: 5px;
    background-color: white;
    border-color: black;
}

//------> FORM

.form-square{
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}

.form-square .form-square-background{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    height: 85%;
    width: 70%;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(255, 201, 51);
}

.form-square .form-square-background .form{
    justify-content: center;
}

.form-square .form-square-background .form .identificador{
    display: flex;
    justify-content: center;
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    font-weight: bold;
}

.form-square .form-square-background .form .columnas{
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.form-square .form-square-background .form .columna1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form .columna2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form .columna3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form-tittle{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-square .form-square-background .send-button{
    height: 35px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 7px;
    border-radius: 5px;
    background-color: white;
    border-color: black;
}

input{
    width: 500px;
    height: 10px;
    border-radius: 5px;                      
    font-size: 15px;            
    margin: 10px 10px 10px 5px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    font-weight: bold;
}

