@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');


.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
    float: left;
}

*{
    font-family: 'Athiti', sans-serif;
    color: white;
}

.calendario{
    width: 800px;
    margin-left: 90px;
    margin-top: 40px;
    height: 400px;
}



