<div class='navbar'>
    <div class='logo-menu'>
        <img class='logo' src='./assets/PARALELO2.png'>
    </div>
    <div class='options-menu'>
        <div class='incio-button'>
            <span><a [routerLink]="['/citas-gerente']">CITAS</a></span>
        </div>
        <div class='contacto-button'>
            <span><a [routerLink]="['/ordenes-gerente']">ÓRDENES</a></span>
        </div>
        <div class='about-button'>
            <span><a [routerLink]="['/reportes']" >REPORTES</a></span>
        </div>
        <div class='about-button' id='cerrar-button'>
            <span><a [routerLink]="['/cerrar-ordenes']" >CERRAR ÓRDENES</a></span>
        </div>
    </div>
</div>
