@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

$tablet: 768px;
$phone: 540px;


.navbar{
    width: 75%;
    height: 20%;
    background-color: rgb(66, 66, 66);
    @media(max-width:$tablet){
        width:100%;
    }
}

.navbar .logo-menu{
    width: 60%;
    height: 60%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

// .navbar .logo-menu .logo{
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

.navbar .options-menu{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    font-family:'Athiti', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(66, 66, 66);
    padding-bottom: 10px;
    @media(max-width: $tablet){
        font-size: 10px;
    }
    }

.navbar .options-menu .incio-button{
    background-color: rgb(255, 201, 51);
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 10px;
}
.navbar .options-menu .incio-button a{
    color: black;
    text-decoration: none;
}
.navbar .options-menu .incio-button a:hover{
    color: black;
    text-decoration: none
}

.navbar .options-menu .contacto-button{
    background-color: rgb(255, 201, 51);
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.navbar .options-menu .contacto-button a{
    color: black;
    text-decoration: none;
}
.navbar .options-menu .contacto-button a:hover{
    color: black;
    text-decoration: none;
}

.navbar .options-menu .about-button{
    background-color: rgb(255, 201, 51);
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

#cerrar-button{
    height: fit-content;
}

.navbar .options-menu .about-button a{
    color: black;
    text-decoration: none;
}
.navbar .options-menu .about-button a:hover{
    color: black;
    text-decoration: none;
}





