@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');
@import "node_modules/font-awesome/scss/font-awesome.scss";


.container-fluid{

    height: 80%;
    width: 100%;
    background-color: rgb(66, 66, 66);

}

.container-fluid .row{
  background-color: aqua;
  height: 0px;
}

.container-fluid .row .container-fluid{
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 201, 51);
  width: 45%;
  margin-top: 7%;
  margin-left: 25%;
  border-radius: 6px;
  margin-bottom: 0%;
  cursor: pointer;
  transition: ease .5s;
}

.btn{
  background-color: none;
  width: 30px;
}

label{
  margin-right: 20px;
  margin-top: 10px;
  font-family: "Athiti",sans-serif;
  color: white;
  padding-left: 7px;
  cursor: pointer;
}
.caja1{
  width: 45%;
  height: 30px;
  margin-top: 7px;
  border-radius: 6px;

  margin-left: 25%;
}
.content{
  height: 45px;
  background-color: white;
  width: 100%;
  margin-top: 7px;
  border-radius: 6px;


}

i{
  padding: 5px;
  color: white;
}


.caja:hover {
  background:  lightgrey;
  font-family: 'Athiti', sans-serif;
}


p{
  font-family: 'Athiti', sans-serif;
  margin-left: 6px;
}

button{
  margin-left: 30px;
  background-color: rgb(255, 201, 51);
  border: none;
  outline: none;
  height: 30px;
  cursor: pointer;
  border-radius: 2px;
}

@media screen and (max-width: 600px) {
  .container-fluid{
      padding-bottom: 0;
      margin-bottom: 0;
      background-color: #494949;
      height: 100%;
  }


  .container-fluid .row .container-fluid{
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
  }
  .caja1{
    margin-top: 1%;
    width: 80%;
  }
  .content{
    margin-top: 1%;
    width: 80%;
    margin-bottom: 5%;
  }

  }

  @media screen and (max-width: 1024px) {
    .container-fluid{
      padding-bottom: 0;
      margin-bottom: 0;
      background-color: #494949;
      height: 100%;
  }


  .container-fluid .row .container-fluid{
    width: 80%;
    margin: auto;
    margin-top: 5%;
  }
  .caja1{
    margin-top: 1%;
    width: 80%;
  }
  .content{
    margin-top: 1%;
    width: 80%;
    margin-bottom: 5%;
  }

    }
