<app-navbar-derecho-cliente></app-navbar-derecho-cliente>
<app-navbar-perfil-cliente></app-navbar-perfil-cliente>



<div class="container-fluid">
  <div class="row">
    <div class="container-fluid">
      <label for="title1">¿Cuánto dura la reparación de mi automóvil?</label>
      <div class="btn1">
        <button class="btn" *ngIf="plus1"(click)="showingBox1()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="btn" *ngIf= "showBox1"(click)="hidingBox1()"><i class="fa fa-minus" aria-hidden="true"></i></button>
      </div> 
    </div>
    <div class="caja1">
      <div class="content" *ngIf="showBox1" >
        <p>Dependiendo de la reparación, puede durar aproximadamente 2 días.
        </p>
      </div>
    </div>
    <div class="container-fluid">
      <label for="title1">¿Cuáles son los métodos de pago?</label>

      <div class="btn1">
        <button class="btn" *ngIf="plus2"(click)="showingBox2()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="btn" *ngIf= "showBox2"(click)="hidingBox2()"><i class="fa fa-minus" aria-hidden="true"></i></button>
      </div> 
    </div>
    <div class="caja1">
      <div class="content" *ngIf="showBox2" >
        <p >Nuestros métodos de pago son: efectivo,Paypal, Zelle y punto de venta</p>
      </div>
    </div>
    <div class="container-fluid">
      <label for="title1">¿Por qué no puedo solicitar una cita?</label>
      <div class="btn1">
        <button class="btn" *ngIf="plus3"(click)="showingBox3()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="btn" *ngIf= "showBox3"(click)="hidingBox3()"><i class="fa fa-minus" aria-hidden="true"></i></button>
      </div> 
    </div>
    <div class="caja1">
      <div class="content" *ngIf="showBox3" >
        <p >Para solicitar una cita debe de tener un vehículo registrado</p>
      </div>
    </div>
  </div>
</div>