.right-navbar{
    float: right;
    width: 25%;
    height: 100%;
}

.right-navbar .buttons{
    width: 100%;
    height: 24.8%;
    background-color: rgb(255, 201, 51);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 10%;
}

.right-navbar .buttons .iniciar-sesion{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.right-navbar .iniciar-sesion .cuadro1{
    background-color: rgb(73, 73, 73);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 50%;
}

.right-navbar .buttons .registrase{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.right-navbar .buttons .registrase .cuadro2{
    background-color: rgb(73, 73, 73);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 50%;
}

.right-navbar .fotos{
    width: 100%;
    height: 70%;
    background-color: rgb(255, 201, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-navbar .fotos .foto1{
    height: 40%;
    width: 80%;
    background-color: black;
    margin-bottom: 10px;
    margin: auto;
}

.right-navbar .fotos .foto2{
    height: 40%;
    width: 80%;
    background-color: black;
    margin: auto;
}