<app-navbar-derecho-gerente></app-navbar-derecho-gerente>
<app-navbar-perfil-gerente></app-navbar-perfil-gerente>

<div class='wrapper'>
  <div class="contenedor">
      <div class="titulo">
          <label>CITAS POR ASIGNAR</label>
      </div>
      <div class="flechas">
          <button class="btn"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
          <button class="btn"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      </div>
      <div class="cajas">
          <div class="identificador">
              <label>Correo: </label>
          </div>
          <div class="fecha">
              <input class="fechi" type="datetime-local">
          </div>
          <div class="btn-asignar">
              <button class="asignar">ASIGNAR</button>
          </div>
      </div>
  </div>
</div>