<app-navbar-derecho-gerente></app-navbar-derecho-gerente>
<app-navbar-perfil-gerente></app-navbar-perfil-gerente>

<div class='wrapper'>
  <div class='title-box'>
      <div class='title'>
          <span>ASIGNAR CITAS</span>
      </div>
  </div>
  <div class='input-section'>
      <form [formGroup]="registroVehiculoForm"  class='input-form'>
          <div class='input'>
              <input type="text" formControlName="correo" required placeholder="nombrecliente@example.com"><span class='bar'></span>
              <span>INGRESA LEL CORREO DEL USUARIO AL QUE ASIGNAR UNA CITA</span>
          </div>
          <button class='input-button' type="submit">BUSCAR</button>
      </form>
  </div>

  <!--este forma debe de ser un ng if-->

  <div class='form-square'>
      <div class='form-square-background'>
            <div class='identificador'>
                <span *ngIf="correo">USUARIO DE CORREO {{correo}} ESPERANDO POR CITA</span>
                <span *ngIf="!correo">ASIGNAR CITA A VC.RUJANA@CORREO.COM</span>
            </div>
          <form [formGroup]="fechaForm" class='fechaForm'>
            <div class='columnas'>
              <div class="cajas">
                <div class="identificador1">
                    <label>Nombre: </label>
                </div>
                <div class="fecha">
                    <label>Fecha: </label>
                    <input class="fechi" type="datetime-local" formControlName="fechax">
                </div>
                <div class="btn-asignar">
                    <button class="asignar">ASIGNAR</button>
                </div>
              </div>
            </div>
          </form>
      </div>
  </div>
</div>
