<app-navbar-derecho-gerente></app-navbar-derecho-gerente>
<app-navbar-perfil-gerente></app-navbar-perfil-gerente>

<div class='wrapper'>
  <div class='title-box'>
      <div class='title'>
          <span>ASIGNAR CITAS</span>
      </div>
  </div>
  <div class='input-section'>
      <form [formGroup]="registroVehiculoForm"  class='input-form'>
          <div class='input'>
              <input type="text" formControlName="placa" required><span class='bar'></span>
              <span>INGRESA LA PLACA DEL USUARIO AL QUE ASIGNAR UNA CITA</span>
          </div>
          <button class='input-button' (click)='search()'>BUSCAR</button>
      </form>
  </div>

  <!--este forma debe de ser un ng if-->

  <div class='form-square'>
      <div class='form-square-background'>
            <div class='identificador'>
                <span *ngIf="!correo">SIN RESULTADOS</span>
                <span *ngIf="correo">ENCONTRADO USUARIO DE CORREO {{correo}}</span>
            </div>
          <form [formGroup]="fechaForm" class='fechaForm'>
            <div class='columnas'>
              <div class="cajas">
                <div class="identificador1">
                    <label>Nombre: {{nombre}}</label>
                </div>
                <div class="fecha">
                    <label>Fecha: </label>
                    <input class="fechi" type="date" formControlName="fechax">
                    <input class="fechi" type="time" formControlName="horax">
                </div>
                <div class="btn-asignar">
                    <button class="asignar" (click)='asignar()'>ASIGNAR</button>
                </div>
              </div>
            </div>
          </form>
      </div>
  </div>
</div>
