@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

$tablet: 768px;
$phone: 375px;

.wrapper{
    height: 75%;
    width: 75%;
    background-color: rgb(66, 66, 66);
    justify-content: center;
    align-items: center;
    @media(max-width:$tablet){
        width: 100%;
        height: 100%;
    }
}

.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: 'Athiti', sans-serif ;
    font-size: 25px;
    color: rgb(255, 201, 51);
    margin-top: 20px;
}


//------>SEGUNDO BUSCADOR

.wrapper .input-section{
    height: 20%;
    width: 100%;
    display: flex;
}

.wrapper .input-section .input-form{
    height: 20%;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.wrapper .input-section .input{
    height: 65%;
    width: 65%;
    font-family: 'Athiti', sans-serif ;
    font-size: 13px; 
    font-weight: bold;
    color: white;
    border-radius: 36px 12px;
    margin: 3%;
}

.wrapper .input-section .input-button{
    height: 30px;
    width: 70px;
    margin-left: 10px;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 30px;
    background-color: white;
    border: none;
}

//------> FORM

.form-square{
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}

.form-square .form-square-background{
    margin-top: 43px;
    //display: flex;
    //justify-content: center;
    height: 50%;
    width: 60%;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(255, 201, 51);
    border-radius: 36px 12px;
}

.form-square .form-square-background .cahnges-form{
    justify-content: center;
}

.form-square .form-square-background .cahnges-form .identificador{
    display: flex;
    justify-content: center;
    height: 10%;
    font-family: 'Athiti', sans-serif ;
    font-size: 18px; 
    font-weight: bold;
}

.form-square .form-square-background .cahnges-form .columnas{
    display: flex;
    justify-content: space-between;
    height: 80%;
}

input{
    width: 100%;
    height: 30px;
    border-radius: 5px;                      
    font-size: 15px;            
    // margin: 10px 10px 10px 5px; 
    // padding: 10px 10px 10px 5px;
    display: flex;             
    border: none;
    border-radius: 36px 12px;
    @media(max-width: $tablet){
        height: 20px;
        // height: 100%;
    }
}

label{
    font-family: 'Athiti', sans-serif ;
    font-size: 14px; 
    font-weight: bold;
}

//-------------------

@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');
@import "node_modules/font-awesome/scss/font-awesome.scss";

.wrapper{
    height: 75%;
    width: 75%;
    background-color: rgb(66, 66, 66);
    justify-content: center;
    align-items: center;
    @media(max-width:$tablet){
        width: 100%;
        height: 100%;
    }
}

.contenedor{
    width: 70%;
    background-color: rgb(255, 201, 51);
    margin: 20px;
    margin-left: 150px;
    height: 80%;
    margin-top: 60px;
    border-radius: 12px;
}

.titulo{
    font-family: "Athiti",sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    height: 30px;
}

.flechas{
    height: 30px;
    text-align: center;
}

.btn{
    border: none;
    margin-right: 9px;
    width: 200px;
}

.fa-arrow-left{
    font-size: 26px;
}

.fa-arrow-right{
    font-size: 26px;
}

.cajas{
    height: 15%;
    margin-top: 15px;
    width: 93%;
    margin-left: 20px;
    font-family: "Athiti",sans-serif;
    // @media(max-width:703px){
    //     display: flex;
    // }
}

.identificador{
    margin-top: 10px;
    margin-left: 10%;
    font-family: "Athiti",sans-serif;
    color: white;
    height: 20px;
    font-size: 20px;

}

.identificador1{
    font-family: "Athiti",sans-serif;
    color: white;
    height: 20px;
    font-size: 20px;
    margin: 0%;
}


.fecha{
    display: flex;
    float: left;
    width: 100%;
    height: 20px;
    border-color: black;
    margin-top: 10px;
    margin-left: 20px;
    @media(max-width:703px){
        width: 80%;
        display: block;
    }
}
.fechi{
    width: 100%;
    height: 20px;
    border-color: black;
    margin-top: 10px;
    margin-left: 20px;
    @media(max-width:$tablet){
        // width: 100px;
    }
}

label{
    font-size: 17px;
    margin-bottom: 10px;
    color: white;
    margin-top: 20px;
}

.btn-asignar{
    position: relative;
    height: 30%;
    // margin-top: 80px;
    // margin-left: 300px;
}

.asignar{
    position: relative;
    left: 35%;
    top: 30px;
    font-family: "Athiti",sans-serif;
    border-color: black;
    background-color: white;
    cursor: pointer;
    width: 150px;
    position: relative;
    height: 50px;
    @media(max-width:703px){
        top: -30px;
        width: 100px;
    }
}

.asignar:hover{
    background-color: lightgrey;
}