@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

$tablet: 768px;
$phone: 375px;

.bar{
    position: relative;
    height: 100%;
    margin-top: 0;
    cursor: pointer;
    border: 0px;
    width: 100%;
    display: flex;
}

.search{
    position: relative;
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.input{
    height: 65%;
    width: 65%;
    font-family: 'Athiti', sans-serif ;
    font-size: 13px; 
    font-weight: bold;
    color: white;
    border-radius: 36px 12px;
    margin: 3%;
}

input{
    width: 100%;
    height: 50%;
    border-radius: 5px;                      
    font-size: 15px;            
    // margin: 10px 10px 10px 5px; 
    // padding: 10px 10px 10px 5px;
    display: flex;             
    border: none;
    border-radius: 36px 12px;
    @media(max-width: $tablet){
        // height: 100%;
    }
}

.input-button{
    position: relative;
    height: 50%;
    width: 10%;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px; 
    font-weight: bold;
    background-color: white;
    border: none;
    display: flex; 
    align-items: center;
    justify-content: center;
    @media(max-width: $tablet){
        font-size: 10px;
    }
    @media(max-width: $phone){
        font-size: 8px;
    }
}

span{
    font-family: 'Athiti', sans-serif ;
    font-size: 13px; 
    font-weight: bold;
    @media(max-width: $phone){
        font-size: 10px; 
    }
}
