@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.bar{
    position: relative;
    top: 5%;
    height: 7%;
    cursor: pointer;
    border: 0px;
}

.bar .search{
    height: 20%;
    width: 100%;
    display: flex;
}

.bar .input{
    height: 65%;
    width: 55%;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    font-weight: bold;
    margin-top: 20px;
    color: white;
}

input{
    width: 500px;
    height: 10px;
    border-radius: 5px;                      
    font-size: 15px;            
    margin: 10px 10px 10px 5px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

.bar .input-button{
    height: 30px;
    width: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 30px;
    border-radius: 5px;
    background-color: white;
    border-color: black;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    font-weight: bold;
}