@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.bar{
    position: relative;
    top: 5%;
    height: 7%;
    margin-left: 10%;
    cursor: pointer;
    border: 0px;
}

.search-text{
    width: 80%;
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.btn{
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    color: white;
    border: 0ch;
    font-family: 'Athiti', sans-serif ;
    font-size: 20px;
    width: 10%;
    cursor: pointer;
}