.ventana{
    width: 75%;
    height: 100%;
    background-color: black; 
  
}
.ventana .logo{
    width: 100%;
    height: 180px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.ventana .logo .imagen{
    width: 40%;
    height: 100%;
    margin-top: 2%;

}


.ventana .contenedor{
    width: 350px;
    height: 250px;
    background-color: blueviolet;
    float: left;
    margin: 50px;
    margin-top: 10%;
   
    
}
.ventana .contenedor .botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellow;
    margin: auto;
    margin-top: 15px;
    width: 70%;
    height: 14%;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ventana .contenedor .botones:hover{
    background-color: #B9C5CE;
}