<app-navbar-derecho-pagina-principal></app-navbar-derecho-pagina-principal>
<div class="container-fluid">
    <div class="container-fluid">
        <img src="./assets/PARALELO2.png" class="imagen">
    </div>
    
 <div class="row">
        <div class="col-md-12">
        <a [routerLink]="['']"><button type="button" class="btn btn-primary">INICIO</button></a>
        <a [routerLink]="['/about-us']"><button type="button" class="btn btn-primary">ACERCA DE NOSOTROS</button></a>
        <a [routerLink]="['/contactanos']"><button type="button" class="btn btn-primary">CONTACTO</button></a>
        <a [routerLink]="['/contactanos']"><button type="button" class="btn btn-primary">UBICACIÓN</button></a>
        <a [routerLink]="['/inicio-sesion']"><button type="button" class="btn btn-default">INICIAR SESION</button></a>
        <a [routerLink]="['/registro']"><button type="button" class="btn btn-default">REGISTRARSE</button></a>
        </div>
    </div>
</div>



