@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.ventana{
    width: 75%;
    height: 100%;  
}
.ventana::after {
    content: "";
    background: url(https://cdn11.bigcommerce.com/s-48ae1/product_images/uploaded_images/garage-a.jpg);
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
.ventana .logo{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.ventana .logo .imagen{
    width: 40%;
    height: 100%;
    margin-top: 2%;

}


.ventana .contenedor{
    width: 350px;
    height: 250px;
    float: left;
    margin: 50px;
    margin-top: 10%;
   
    
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.ventana .contenedor .botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 201, 51);
    border: black 1px solid;
    margin: auto;
    margin-top: 15px;
    width: 70%;
    height: 14%;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-family: 'Athiti', sans-serif;
    font-style: normal;
}

.ventana .contenedor .botones:hover{
    background-color: #B9C5CE;
}