.ventana{
    width: 100%;
    height: 100%;
    background-color: black; 
}
.ventana .logo{
    width: 100%;
    height: 200px;
    background-color: red;
}
.ventana .contenedor{
    width: 350px;
    height: 250px;
    background-color: blueviolet;
    float: left;
    margin: 50px;
    margin-top: 70px;
}
.ventana .contenedor .botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellow;
    margin: auto;
    margin-top: 15px;
    width: 70%;
    height: 14%;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
