<app-navbar-derecho-pagina-principal></app-navbar-derecho-pagina-principal>
<div class="ventana">
    <div class="logo">
        <img src="./assets/PARALELO2.png" class="imagen">
    </div>
    
    <div class="contenedor">
        <a [routerLink]="['']"><div class="botones">INICIO</div></a>
        <a [routerLink]="['/about-us']"><div class="botones">ACERCA DE NOSOTROS</div></a>
        <a [routerLink]="['/contactanos']"><div class="botones">CONTACTO</div></a>
        <a [routerLink]="['/contactanos']"><div class="botones">UBICACIÓN</div></a>
    </div>
</div>



