@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

.container-fluid{
    width: 100%;
    height: 80%;
}
.container-fluid::after {
    content: "";
    background: url(https://cdn11.bigcommerce.com/s-48ae1/product_images/uploaded_images/garage-a.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
.container-fluid .container-fluid{
    width: 75%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.container-fluid .container .imagen{
    width: 40%;
    height: 100%;
    margin-top: 2%;

}


.container-fluid .row{
    width: 40%;
    height: 40%;
    float: left;
    margin: 50px;
    margin-top: 10%;
   
    
}
.container-fluid .row .col-md-12{
    width: 100%;
    height: 100%;  
}
a{
    color: black;
    text-decoration: none;
    text-align: center;
    margin: auto;
    justify-content: center;
}
a:hover{
    text-decoration: underline;
}
.container-fluid .row .col-md-12 .btn{
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 201, 51);
    border: black 1px solid;
    margin: auto;
    margin-top: 15px;
    width: 50%;
    height: 17%;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-family: 'Athiti', sans-serif;
    font-style: normal;
}
.container-fluid .row .col-md-12 .btn-default{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    border: black 1px solid;
    margin: auto;
    margin-top: 15px;
    width: 50%;
    height: 17%;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-family: 'Athiti', sans-serif;
    font-style: normal;
}
.container-fluid .row .col-md-12 .btn:hover{
    background-color: #B9C5CE;
}
.container-fluid .row .col-md-12 .btn:hover{
    background-color: rgb(255, 201, 51);
}
@media screen and (min-width: 800px) { /* Con esto lo ocultamos en la pc y se deja visible solo en mobile */
	.container-fluid .row .col-md-12 .btn-default{
		display: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
	}
}
@media screen and (max-width: 600px) {
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .container-fluid .container-fluid{
        width: 100%;
    }

    .container-fluid .row{
        width: 80%;
    }
    .container-fluid .row .col-md-12 .btn{

        width: 60%;
    }
    }