<div class='navbar'>
    <div class='logo-menu'>
        <div class='contenedor'>
            <img class='logo' src='./assets/PARALELO2.png'>
        </div>
    </div>
    <div class='options-menu'>
        <div class='incio-button'>
            <span><a [routerLink]="['/vista-inicio']" style="color: black; text-decoration: none;">INICIO</a></span>
        </div>
        <div class='contacto-button'>
            <span><a [routerLink]="['/vista-datos-perfil-cliente']" style="color: black; text-decoration: none;">DATOS DEL CLIENTE</a></span>
        </div>
        <div class='about-button'>
            <span><a [routerLink]="['/vista-citas-cliente']" style="color: black; text-decoration: none;">CITAS Y REPARACIONES</a></span>
        </div>
    </div>
</div>