<div class="d-inline-flex col-lg-12" style="padding-right: 0px;padding-left: 0px;">
    <div class="col-lg-7" style="padding-right: 0px;padding-left: 0px;background: #3C3C3C;">
        <div class="col">
            <div class="row my-3 ml-1">
                <div class="col">
                    <img src="assets/img/logo.png">
                </div>
            </div>
            <div class="row">
                <div class="col d-inline-flex justify-content-around my-3">
                    <button [routerLink]="''" class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center" type="button" style="height: 32px;width: 120px;background: #F2CA63;color: #3C3C3C;font-family: Athiti, sans-serif;font-weight: bold;">INICIO</button>
                    <button [routerLink]="'/citas'" class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center" type="button" style="height: 32px;width: 120px;background: #F2CA63;color: #3C3C3C;font-family: Athiti, sans-serif;font-weight: bold;">CITAS</button>
                    <button [routerLink]="'/ordenes'" class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center" type="button" style="height: 32px;width: 120px;background: #F2CA63;color: #3C3C3C;font-family: Athiti, sans-serif;font-weight: bold;">ÓRDENES</button>
                    <button [routerLink]="'/reportes'" class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center" type="button" style="height: 32px;width: 120px;background: #F2CA63;color: #3C3C3C;font-family: Athiti, sans-serif;font-weight: bold;">REPORTES</button>
                </div>
            </div>
            <div class="row">
                <div class="col d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center m-3">
                    <span style="font-size: 22px;color: #F2CA63;font-weight: 500;font-family: Athiti, sans-serif;">ÓRDENES DE REPARACIÓN</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ml-2 my-3">
                <a href="#" style="font-family: Athiti, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;color: #F2CA63;">EJEMPLO 1</a>
            </div>
            <form class="ml-2">
                <div class="d-inline-flex justify-content-lg-start align-items-lg-center col-lg-12">
                    <div class="form-group col-lg-8">
                        <label class="text-white" style="font-weight: bold;font-family: Athiti, sans-serif;">ITEM #1</label>
                        <input class="border rounded-pill form-control" type="text" style="font-family: Athiti, sans-serif;">
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="text-white" style="font-family: Athiti, sans-serif;font-weight: bold;">PRECIO</label>
                        <input class="border rounded-pill form-control" type="text" style="font-family: Athiti, sans-serif;">
                    </div>
                </div>
                <div class="d-inline-flex justify-content-lg-start align-items-lg-center col-lg-12">
                    <div class="form-group col-lg-8">
                        <label class="text-white" style="font-weight: bold;font-family: Athiti, sans-serif;">ITEM #2</label>
                        <input class="border rounded-pill form-control" type="text" style="font-family: Athiti, sans-serif;">
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="text-white" style="font-family: Athiti, sans-serif;font-weight: bold;">PRECIO</label>
                        <input class="border rounded-pill form-control" type="text" style="font-family: Athiti, sans-serif;">
                    </div>
                </div>
                <div class="d-inline-flex justify-content-lg-start align-items-lg-center col-lg-12">
                    <div class="form-group col-lg-8">
                        <label class="text-white" style="font-weight: bold;font-family: Athiti, sans-serif;">ITEM #3</label>
                        <input class="border rounded-pill form-control" type="text" style="font-family: Athiti, sans-serif;">
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="text-white" style="font-family: Athiti, sans-serif;font-weight: bold;">PRECIO</label>
                        <input class="border rounded-pill form-control" type="text" style="font-family: Athiti, sans-serif;">
                    </div>
                </div>
                <div class="d-inline-flex justify-content-lg-start align-items-lg-center col-lg-12">
                    <div class="form-group col-lg-8">
                        <label class="text-white" style="font-weight: bold;font-family: Athiti, sans-serif;">ITEM #4</label>
                        <input class="border rounded-pill form-control" type="text" style="font-family: Athiti, sans-serif;">
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="text-white" style="font-family: Athiti, sans-serif;font-weight: bold;">PRECIO</label>
                        <input class="border rounded-pill form-control" type="text" style="font-family: Athiti, sans-serif;">
                    </div>
                </div>
                <div class="d-inline-flex d-sm-flex d-lg-flex justify-content-around my-3">
                    <button class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center" type="button" style="background: #F2CA63;color: #3C3C3C;font-family: Athiti, sans-serif;font-size: 14px;width: 170px;height: 33px;font-weight: bold;letter-spacing: -1px;">GUARDAR CAMBIOS</button>
                    <button class="btn d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center" type="button" style="background: #F2CA63;color: #3C3C3C;font-family: Athiti, sans-serif;font-size: 14px;width: 170px;height: 33px;font-weight: bold;letter-spacing: -1px;">CERRAR ORDEN</button>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-lg-center align-items-lg-center col-lg-5" style="padding-right: 0px;padding-left: 0px;background: #F2CA63;">
        <button class="btn text-center d-lg-flex justify-content-lg-center align-items-lg-center text-white m-3" type="button" style="background: #3C3C3C;width: 235px;height: 33px;font-family: Athiti, sans-serif;font-weight: bold;">DATOS PERFIL</button>
        <button class="btn text-center d-lg-flex justify-content-lg-center align-items-lg-center text-white mb-5 mx-3" type="button" style="background: #3C3C3C;width: 235px;height: 33px;font-family: Athiti, sans-serif;font-weight: bold;">CERRAR SESIÓN</button>
        <img class="mx-3 mb-3" src="assets/img/ordenes.png">
    </div>
</div>
