@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

// $small-phone: 320px;
$phone: 375px;
// $big-phone: 414px;
// $small-tablet: 540px;
$tablet: 768px;
// $big-tablet: 1024px;
// $small-laptop: 1256px;

.wrapper{
    height: 75%;
    width: 75%;
    background-color: rgb(66, 66, 66);
    justify-content: center;
    align-items: center;
    @media(max-width:$tablet){
        width: 100%;
        height: 100%;
    }
}

.space{
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    @media(max-width: $phone){
        width: 100%;
    }
}


.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: 'Athiti', sans-serif ;
    font-size: 25px;
    color: rgb(255, 201, 51);
    @media(max-width:$tablet){
        margin-top: 10px;
        font-size: 15px;
    }
}

.form-square{
    height: fit-content;
    width: 70%;
    // margin-top: -20px;
    display: flex;
    justify-content: left;
    margin-left: 15%;
}

.form-square .form-square-background{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    // height: 87%;
    width: 100%;
    padding: 2%;
    background-color: rgb(255, 201, 51);
}


.form-square .form-square-background .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form-tittle{
    text-align: center;
    font-family: 'Athiti', sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
   
}

input{
    width: 100%;
    height: 50%;
    border-radius: 5px;                      
    font-size: 15px;            
    // margin: 10px 10px 10px 5px; 
    // padding: 10px 10px 10px 5px;
    display: flex;             
    border: none;
    border-radius: 36px 12px;
    @media(max-width: $tablet){
        height: 100%;
    }
}

label{
    font-family: 'Athiti', sans-serif;
    font-size: 14px; 
    font-weight: bold;
    margin-left: 20px;
    @media(max-width:$tablet){
        font-size: 10px; 

    }
}

.texto1{
    margin-right: 165px;
    margin-top: 120px;
    font-family: 'Athiti', sans-serif ;
    color: white;
    text-align: center;
    font-size: 20px;
}

.administrar{
    height: 10px;
}

.btn{
    margin: 30px;
    color: black;
    width: 150px;
    height: 30px;
    border: 0ch;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px;
    text-align: center;
}

button{
    
        position: relative;
        width: 35%;
        height: 30px;
        border: 0ch;
        border-radius: 0; 
        font-family: 'Athiti', sans-serif ;
        font-size: 15px;
        text-align: center;
        margin: 5px 0px 0px 0px;
        margin-left: 35%;
        margin-bottom: 5%;
        padding: 0;
        display: block;             
        border: none;
        @media(max-width:$tablet){
            font-size: 10px; 
    
        }
    
}