@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');


$phone: 375px;
$tablet: 758px;

.wrapper{
    display: block;
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
    justify-content: center;
    // align-items: center;
    @media(max-width:$tablet){
        width: 100%;
        height: 100%;
    }
}

.botones{
    height: 30px;
    margin-top: 0;
    margin-left: 50px;
}

.cosas{
    font-family: 'Athiti', sans-serif ;
    width: 300px;
}

.grafico{
    width: 80%;
    margin: 5%;
    // margin-top: 30px;
    // height: 20px;
}