@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');

// $small-phone: 320px;
$phone: 375px;
// $big-phone: 414px;
// $small-tablet: 540px;
$tablet: 768px;
// $big-tablet: 1024px;
// $small-laptop: 1256px;

// body{
//     // height: fit-content;
// }


.wrapper{
    height: 75%;
    width: 75%;
    background-color: rgb(66, 66, 66);
    justify-content: center;
    align-items: center;
    @media(max-width:$tablet){
        width: 100%;
        height: 100%;
    }
}

.wrapper .title-box{
    height: 10%;
    display: flex;
    justify-content: center;
    font-family: 'Athiti', sans-serif;
    font-size: 25px;
    color: rgb(255, 201, 51);
}

.search-bar{
    height: 15%;
    width: 100%;
}

.identificador{
    display: flex;
    position:relative;
    height: 5%;
    width: 40%;
    margin-left: 30%;
    background-color: rgb(255, 201, 51);
    align-items: center;
    justify-content: center;
    @media(max-width:$tablet){
        border-radius: 5px;
    }
    label{
        display: flex;
        font-family: 'Athiti', sans-serif;
        color:black;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        @media(max-width:$tablet){
            font-size: 15px;
        }
        @media(max-width:$phone){
            font-size: 10px;
        }

    }
}
