.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
    justify-content: center;
    align-items: center;
}

.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: 'Audiowide', cursive;
    font-size: 25px;
    color: rgb(255, 201, 51);
}

