@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');
.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
}

.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: 'Athiti', sans-serif ;
    font-size: 25px;
    color: rgb(255, 201, 51);
}

//------------> form

.form-square{
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-square .form-square-background{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 82%;
    width: 65%;
    padding: 20px;
    background-color: rgb(255, 201, 51);
}

.form-square .form-square-background .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.group1{
    width: 100%;
    height: 15%;
}
.form-square .form-square-background .form-tittle{
    text-align: center;
    font-family: 'Athiti', sans-serif ;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-square .form-square-background .send-button{
    height: 10%;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: -1px;
    background-color: white;
    border-color: black;
    margin: auto;
    
}

input{
    width: 100%;
    height: 20%;
    border-radius: 5px;                      
    font-size: 15px;            
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

label{
    font-family: 'Athiti', sans-serif ;
    font-size: 14px; 
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .wrapper{
        width: 100%;
        height: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
  
    .form-square .form-square-background{
        width: 80%;
        height: 90%;
        margin-bottom: 0;
    }
    .citas{
        height: 35%;
    }
    .wrapper .space .citas .btn2{
        margin-top: 60px;
       
    }
}

@media screen and (max-width: 1024px) {
    .wrapper{
        width: 100%;
        height: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    }






