<app-nabvar-derecho-perfil-mecanico></app-nabvar-derecho-perfil-mecanico>
<app-nabvar-perfil-mecanico></app-nabvar-perfil-mecanico>

<div class='wrapper'>
    <div class='title-box'>
        <div class='title'>
            <span>DATOS DEL MECÁNICO</span>
        </div>
    </div>
    <div class='form-square'>
        <div class='form-square-background'>
            <form class='form'>
                <div class='form-tittle'>
                    <span>Create Post</span>
                </div>
                <div class='group1'>
                    <input type="text" placeholder="Enter ID" formControlName="ID" required><span class='bar'></span>
                    <label for=''>ID</label>
                </div>
                <div class='group2'>
                    <input type="text" placeholder="Enter Title" formControlName="title" required><span class='bar'></span>
                    <label for=''>Title</label>
                </div>
                <div class='group3'>
                    <input type="text" placeholder="Enter Category" formControlName="category" required><span class='bar'></span>
                    <label for=''>Category</label>
                </div>
                <div class='group4'>
                    <input type="text" placeholder="Enter Body" formControlName="body" required><span class='bar'></span>
                    <label for=''>Body</label>
                </div>
                <button class='send-button' type='submit'>submmit</button>
            </form>
        </div>
    </div>
</div>


