<app-nabvar-derecho-perfil-mecanico></app-nabvar-derecho-perfil-mecanico>
<app-nabvar-perfil-mecanico></app-nabvar-perfil-mecanico>

<div class='wrapper'>
    <div class='title-box'>
        <div class='title'>
            <span>DATOS DEL MECÁNICO</span>
        </div>
    </div>
    <div class='form-square'>
        <div class='form-square-background'>
            <form class='registerAuth-form'>
                <div class='form-tittle'>
                    <span>Register</span>
                </div>
                <div class='group1'>
                    <input type="text" placeholder="Enter your name" required><span class='bar'></span>
                    <label for=''>name</label>
                </div>
                <div class='group2'>
                    <input type="text" placeholder="Enter your email" required><span class='bar'></span>
                    <label for=''>email</label>
                </div>
                <div class='group3'>
                    <input type="text" placeholder="Enter your password" required><span class='bar'></span>
                    <label for=''>password</label>
                </div>
                <button class='withGoogle' type="button">Register with Google</button>
                <button class='send-button' type='button'>submmit</button>
                
            </form>
        </div>
    </div>
</div>


