
.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
}

.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 25px;
    color: rgb(255, 201, 51);
}

//------------> form

.form-square{
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}

.form-square .form-square-background{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 80%;
    width: 70%;
    padding: 20px;
    background-color: rgb(255, 201, 51);
}

.form-square .form-square-background .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form-tittle{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-square .form-square-background .send-button{
    height: 170px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    border-color: black;
    
}

input{
    width: 600px;
    height: 10px;
    border-radius: 5px;                      
    font-size: 15px;            
    margin: 10px 10px 10px 5px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
}












