@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@700&display=swap');
.wrapper{
    height: 80%;
    width: 75%;
    background-color: rgb(66, 66, 66);
}

.wrapper .title-box{
    height: 5%;
    display: flex;
    justify-content: center;
}

.wrapper .title-box .title{
    font-family: 'Athiti', sans-serif ;
    font-size: 25px;
    color: rgb(255, 201, 51);
}

//------------> form

.form-square{
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}

.form-square .form-square-background{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 82%;
    width: 65%;
    padding: 20px;
    background-color: rgb(255, 201, 51);
}

.form-square .form-square-background .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-square .form-square-background .form-tittle{
    text-align: center;
    font-family: 'Athiti', sans-serif ;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-square .form-square-background .send-button{
    height: 30px;
    width: 35%;
    font-family: 'Athiti', sans-serif ;
    font-size: 15px; 
    font-weight: bold;
    margin-top: -1px;
    background-color: white;
    border: none;
    margin-left: 200px;
    
}

input{
    width: 600px;
    height: 10px;
    border-radius: 36px 12px;                    
    font-size: 15px;            
    margin: 10px 10px 10px 5px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

label{
    font-family: 'Athiti', sans-serif ;
    font-size: 14px; 
    font-weight: bold;
}












